body {
  font-family: "Roboto", sans-serif;
  color: #004449;
  font-style: normal;
  font-weight: 400;
  color: #004449;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

header {
  position: absolute;
  inset: 0;
  width: 100%;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  padding: 44px 241px 0 184px;
  border: 1px solid;
}
.header__menu li:first-child {
  color: #D7FFC2;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}
.header__menu li:nth-child(2) {
  color: #fff;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}

.banner__bg .banner__title {
  padding-left: 331px;
}
.banner__bg .banner__title h1 {
  padding-top: 340px;
  margin: 0;
  font-weight: 400;
  font-size: 80px;
  font-style: normal;
  line-height: 88px;
  color: #FFFEF0;
}
.banner__bg .banner__title h2 {
  color: #FFAC7F;
  font-weight: 400;
  font-size: 80px;
  line-height: 88px;
  margin-bottom: 24px;
}
.banner__bg .banner__title p,
.banner__bg .banner__title span {
  color: #FFFEF0;
  font-size: 32px;
  font-weight: 400;
  line-height: 48px;
}
.banner__bg .banner__title span {
  display: block;
  margin-bottom: 24px;
}
.banner__bg .banner__title .button-link {
  display: inline-block;
  position: relative;
  color: #004449;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  padding: 16px 66px 16px 34px;
  margin-bottom: 400px;
  border-radius: 50px;
  background: #0BFF80;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.banner__bg .banner__title .button-link svg {
  position: absolute;
  top: calc(50% - 12px);
  left: 270px;
}

.banner__brands {
  text-align: center;
}
.banner__brands h3 {
  color: #FFFEF0;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  margin-bottom: 48px;
}
.banner__brands .banner__block-img {
  max-width: 1124px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 150px;
}

.info {
  max-height: 1200px;
}
.info h2 {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  text-align: center;
  padding-top: 112px;
  margin-bottom: 5px;
  font-size: 48px;
  font-weight: 400;
  line-height: 64px;
  border: 1px solid;
}
.info .info__card {
  max-width: 1168px;
  width: 100%;
  margin: 0 auto 348px auto;
  text-align: center;
  display: flex;
  gap: 48px;
}
.info .info__card .card {
  position: relative;
  max-width: 357px;
  width: 100%;
}
.info .info__card .card .card__img-top {
  height: 152px;
  display: flex;
  justify-content: center;
}
.info .info__card .card .mt {
  margin-top: 50px;
}
.info .info__card .card .card-body {
  padding: 32px 27px 28px 27px;
  border-radius: 8px;
  background: #FFFEF0;
  box-shadow: 2px 8px 16px 0px rgba(153, 169, 197, 0.2);
  z-index: 10;
}
.info .info__card .card .card-body h4 {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}
.info .reserve {
  position: relative;
  transition: 0.3s;
  max-width: 764px;
  max-height: 280px;
  overflow: hidden;
  width: 100%;
  text-align: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background: #D7FFC2;
  margin: 0 auto;
}
.info .reserve h3 {
  font-size: 48px;
  font-weight: 400;
  line-height: 64px;
  padding: 54px 0 18px 0;
}
.info .reserve p {
  max-width: 597px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1.6px;
  margin-bottom: 26px;
}
.info .reserve .reserve__btn {
  width: 140px;
  background: #483CFF;
  padding: 4px 34px;
  margin-bottom: 56px;
  color: #FFFEF0;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.info .reserve:hover {
  max-height: 342px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.collection {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.collection .content {
  height: 423px;
  width: 270px;
  overflow: hidden;
  background-color: transparent;
}

.content img {
  max-width: 270px;
  width: 100%;
  height: 100%;
  max-height: 356px;
  border-bottom-left-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
}

.text-content {
  display: flex;
  flex-direction: column;
}

.text-content h4 {
  display: flex;
  flex-wrap: nowrap;
  text-align: center;
  font-family: Roboto;
  text-transform: capitalize;
  font-size: 28px;
  font-weight: 400;
  line-height: 40px;
}

.text-content p {
  max-width: 22rem;
  font-size: 0.8rem;
  font-weight: 400;
  text-align: center;
}

.block-btn {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  position: absolute;
  top: calc(50% - 24px);
  right: 0;
  left: 0;
  width: 100%;
  max-width: 1104px;
  z-index: 100;
}

.btn {
  width: 48px;
  height: 48px;
  padding: 12px;
  border-radius: 50%;
  background-color: #004449;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}/*# sourceMappingURL=main.css.map */