body {
  font-family: "Roboto", sans-serif;
  color: #004449;
  font-style: normal;
  font-weight: 400;
  color: #004449;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

header {
  position: absolute;
  inset: 0;
  width: 100%;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  padding: 44px 241px 0 184px;
  border: 1px solid;
}
.header__menu li:first-child {
  color: #D7FFC2;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}
.header__menu li:nth-child(2) {
  color: #fff;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}

.banner__bg .banner__title {
  padding-left: 331px;
}
.banner__bg .banner__title h1 {
  padding-top: 340px;
  margin: 0;
  font-weight: 400;
  font-size: 80px;
  font-style: normal;
  line-height: 88px;
  color: #FFFEF0;
}
.banner__bg .banner__title h2 {
  color: #FFAC7F;
  font-weight: 400;
  font-size: 80px;
  line-height: 88px;
  margin-bottom: 24px;
}
.banner__bg .banner__title p,
.banner__bg .banner__title span {
  color: #FFFEF0;
  font-size: 32px;
  font-weight: 400;
  line-height: 48px;
}
.banner__bg .banner__title span {
  display: block;
  margin-bottom: 24px;
}
.banner__bg .banner__title .button-link {
  display: inline-block;
  position: relative;
  color: #004449;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  padding: 16px 66px 16px 34px;
  margin-bottom: 400px;
  border-radius: 50px;
  background: #0BFF80;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.banner__bg .banner__title .button-link svg {
  position: absolute;
  top: calc(50% - 12px);
  left: 270px;
}

.banner__brands {
  text-align: center;
}
.banner__brands h3 {
  color: #FFFEF0;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  margin-bottom: 48px;
}
.banner__brands .banner__block-img {
  max-width: 1124px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 150px;
}

.info {
  max-height: 1200px;
}
.info h2 {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  text-align: center;
  padding-top: 112px;
  margin-bottom: 5px;
  font-size: 48px;
  font-weight: 400;
  line-height: 64px;
  border: 1px solid;
}
.info .info__card {
  max-width: 1168px;
  width: 100%;
  margin: 0 auto 348px auto;
  text-align: center;
  display: flex;
  gap: 48px;
}
.info .info__card .card {
  position: relative;
  max-width: 357px;
  width: 100%;
}
.info .info__card .card .card__img-top {
  height: 152px;
  display: flex;
  justify-content: center;
}
.info .info__card .card .mt {
  margin-top: 50px;
}
.info .info__card .card .card-body {
  padding: 32px 27px 28px 27px;
  border-radius: 8px;
  background: #FFFEF0;
  box-shadow: 2px 8px 16px 0px rgba(153, 169, 197, 0.2);
  z-index: 10;
}
.info .info__card .card .card-body h4 {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}
.info .reserve {
  transition: 0.3s;
  max-width: 764px;
  max-height: 280px;
  overflow: hidden;
  width: 100%;
  text-align: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background: #D7FFC2;
  margin: 0 auto;
}
.info .reserve h3 {
  font-size: 48px;
  font-weight: 400;
  line-height: 64px;
  padding: 54px 0 18px 0;
}
.info .reserve p {
  max-width: 597px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1.6px;
  margin-bottom: 26px;
}
.info .reserve .reserve__btn {
  width: 140px;
  background: #483CFF;
  padding: 4px 34px;
  margin-bottom: 56px;
  color: #FFFEF0;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.info .reserve:hover {
  max-height: 342px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.galery-wrap {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.gallery {
  width: 100%;
}
.gallery .gallery-container {
  align-items: center;
  display: flex;
  height: 500px;
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
  overflow: hidden;
}
.gallery .gallery-container .gallery-item {
  width: 270px;
  height: 356px;
  opacity: 0;
  z-index: 0;
  position: absolute;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.gallery .gallery-container .gallery-item-1 {
  left: 15%;
  opacity: 0.4;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.gallery .gallery-container .gallery-item-2 {
  height: 250px;
  opacity: 0.8;
  width: 230px;
  z-index: 1;
}
.gallery .gallery-container .gallery-item-2 {
  left: 30%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.gallery .gallery-container .gallery-item-3 {
  opacity: 1;
  left: 50%;
  z-index: 9;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.gallery .gallery-container .gallery-item-4 {
  left: -50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.gallery .gallery-container .gallery-item-5 {
  left: 68%;
  width: 246px;
  height: 324px;
  opacity: 1;
  z-index: 1;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.gallery .gallery-container .gallery-item-6 {
  left: 83%;
  opacity: 1;
  width: 226px;
  height: 297px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.gallery .gallery-container .gallery-item-7 {
  left: 102%;
  width: 209px;
  height: 274px;
  opacity: 0.8;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.gallery .gallery-container .gallery-controls button {
  background-color: transparent;
  cursor: pointer;
  font-size: 30px;
  margin: 0 50px;
  padding: 0 12px;
}
.gallery .gallery-container .gallery-controls-bytton:focus {
  outline: none;
}
.gallery .gallery-container .gallery-controls-previous {
  position: relative;
}
.gallery .gallery-container .gallery-controls-previous::before {
  border: 1px solid rgb(124, 35, 35);
  border-width: 0 5px 5px 0;
  content: "";
  display: inline-block;
  height: 5px;
  left: -30px;
  padding: 10px;
  position: absolute;
  top: 25%;
  transform: rotate(135deg) translateY(-50%);
  -webkit-transform: rotate(135deg) translateY(-50%);
  -moz-transform: rotate(135deg) translateY(-50%);
  -ms-transform: rotate(135deg) translateY(-50%);
  -o-transform: rotate(135deg) translateY(-50%);
  transition: left 0.15s ease-in-out;
  -webkit-transition: left 0.15s ease-in-out;
  -moz-transition: left 0.15s ease-in-out;
  -ms-transition: left 0.15s ease-in-out;
  -o-transition: left 0.15s ease-in-out;
  width: 5px;
}
.gallery .gallery-container .gallery-controls-previous:hover::before {
  left: -40px;
}
.gallery .gallery-container .gallery-controls-next {
  position: relative;
}
.gallery .gallery-container .gallery-controls-next:hover::before {
  right: -40px;
}
.gallery .gallery-container .gallery-controls-next::before {
  border: solid #000;
  border-width: 0 5px 5px 0;
  content: "";
  display: inline-block;
  height: 5px;
  padding: 10px;
  position: absolute;
  right: -30px;
  transform: rotate(45deg) translateY(-50%);
  -webkit-transform: rotate(45deg) translateY(-50%);
  -moz-transform: rotate(45deg) translateY(-50%);
  -ms-transform: rotate(45deg) translateY(-50%);
  -o-transform: rotate(45deg) translateY(-50%);
  transition: right 0.15s ease-in-out;
  -webkit-transition: right 0.15s ease-in-out;
  -moz-transition: right 0.15s ease-in-out;
  -ms-transition: right 0.15s ease-in-out;
  -o-transition: right 0.15s ease-in-out;
  width: 5px;
}
.gallery .gallery-container .gallery-nav {
  bottom: -15px;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  position: absolute;
  width: 100%;
}/*# sourceMappingURL=main.css.map */