$myFont-1: "Roboto", sans-serif;
$myFont-2: "Montserrat", sans-serif;
$colorTextLight: #FFFEF0;
$colorTextDark: #004449;
$colorLinc-1: #CDA861;
$myFontSize: 18px;
$myWidth: 680px;

body {
    font-family: "Roboto", sans-serif;
    color: $colorTextDark;
    font-style: normal;
    font-weight: 400;
    color: $colorTextDark;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

header {
    position: absolute;
    inset: 0;
    width: 100%;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    padding: 44px 241px 0 184px;
    border: 1px solid;

    li:first-child {
        color: #D7FFC2;
        font-family: "Roboto", sans-serif;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 1.2px;
        text-transform: uppercase;
    }

    li:nth-child(2) {
        color: #fff;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: 1.6px;
        text-transform: uppercase;
    }
}

.banner__bg {

    .banner__title {
        padding-left: 331px;

        h1 {
            padding-top: 340px;
            margin: 0;
            font-weight: 400;
            font-size: 80px;
            font-style: normal;
            line-height: 88px;
            color: #FFFEF0;
        }

        h2 {
            color: #FFAC7F;
            font-weight: 400;
            font-size: 80px;
            line-height: 88px;
            margin-bottom: 24px;
        }

        p,
        span {
            color: #FFFEF0;
            font-size: 32px;
            font-weight: 400;
            line-height: 48px
        }

        span {
            display: block;
            margin-bottom: 24px;
        }

        .button-link {
            display: inline-block;
            position: relative;
            color: #004449;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 1.6px;
            text-transform: uppercase;
            padding: 16px 66px 16px 34px;
            margin-bottom: 400px;
            border-radius: 50px;
            background: #0BFF80;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            -ms-border-radius: 50px;
            -o-border-radius: 50px;

            svg {
                position: absolute;
                top: calc(50% - 12px);
                left: 270px;
            }
        }
    }
}

.banner__brands {
    text-align: center;

    h3 {
        color: #FFFEF0;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 1.8px;
        text-transform: uppercase;
        margin-bottom: 48px;
    }

    .banner__block-img {
        max-width: 1124px;
        width: 100%;
        margin: 0 auto;
        padding: 0 10px;
        display: flex;
        justify-content: space-between;
        padding-bottom: 150px;
    }
}


.info {
    max-height: 1200px;
    // overflow: hidden;
    // transition: .5s;


    h2 {
        -webkit-transition: .5s;
        -moz-transition: .5s;
        -ms-transition: .5s;
        -o-transition: .5s;

        text-align: center;
        padding-top: 112px;
        margin-bottom: 5px;
        font-size: 48px;
        font-weight: 400;
        line-height: 64px;
        border: 1px solid;
    }

    .info__card {
        max-width: 1168px;
        width: 100%;
        margin: 0 auto 348px auto;
        text-align: center;
        display: flex;
        gap: 48px;


        .card {
            position: relative;
            max-width: 357px;
            width: 100%;

            .card__img-top {
                height: 152px;
                display: flex;
                justify-content: center;
            }

            .mt {
                margin-top: 50px;
            }


            .card-body {
                padding: 32px 27px 28px 27px;
                border-radius: 8px;
                background: #FFFEF0;
                box-shadow: 2px 8px 16px 0px rgba(153, 169, 197, 0.20);
                z-index: 10;

                h4 {
                    text-align: center;
                    font-size: 24px;
                    font-weight: 400;
                    line-height: 32px;
                }
            }
        }
    }

    .reserve {
        position: relative;
        transition: .3s;
        max-width: 764px;
        max-height: 280px;
        overflow: hidden;
        width: 100%;
        text-align: center;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        background: #D7FFC2;
        margin: 0 auto;


        h3 {
            font-size: 48px;
            font-weight: 400;
            line-height: 64px;
            padding: 54px 0 18px 0;
        }

        p {
            max-width: 597px;
            margin: 0 auto;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 1.6px;
            margin-bottom: 26px;
        }

        .reserve__btn {
            width: 140px;
            background: #483CFF;
            padding: 4px 34px;
            margin-bottom: 56px;
            color: #FFFEF0;
            font-size: 16px;
            line-height: 22px;
            letter-spacing: 1.6px;
            text-transform: uppercase;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
        }

        &:hover {
            max-height: 342px;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
        }
    }

    // &:hover {
    //     max-height: 1256px;
    // }
}

.collection {
    height: 100vh;
    // background: #FFFEF0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.collection .content {
    height: 423px;
    width: 270px;
    overflow: hidden;
    background-color: transparent;
}



.content img {
    max-width: 270px;
    width: 100%;
    height: 100%;
    max-height: 356px;
    border-bottom-left-radius: .6rem;
    border-bottom-right-radius: .6rem;
}

.text-content {
    display: flex;
    flex-direction: column;
}

.text-content h4 {
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    font-family: Roboto;
    text-transform: capitalize;
    font-size: 28px;
    font-weight: 400;
    line-height: 40px;
}

.text-content p {
    max-width: 22rem;
    font-size: .8rem;
    font-weight: 400;
    text-align: center;
}

.block-btn {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    position: absolute;
    top: calc(50% - 24px);
    right: 0;
    left: 0;
    width: 100%;
    max-width: 1104px;
    z-index: 100;
}

.btn {
    width: 48px;
    height: 48px;
    padding: 12px;
    border-radius: 50%;
    background-color: #004449;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

// .text-content {
//     display: flex;
//     z-index: 200;
//     height: 74px;
// }

// .hi-slide {
//     position: relative;
//     max-width: 1170px;
//     width: 100%;
//     height: 464px;


//     .hi-prev,
//     .hi-next {
//         position: absolute;
//         top: 50%;
//         width: 40px;
//         height: 40px;
//         background-color: #004449;
//         margin-top: -20px;
//         border-radius: 50px;
//         cursor: pointer;
//     }

//     .hi-next {
//         right: -60px;
//     }
//     .hi-prev {
//         right: 60px;
//     }

//     ul {
//         position: relative;
//         width: 1170px;
//         max-height: 464px;

//         li {
//             overflow: hidden;
//             position: absolute;
//             z-index: 0;
//             left: 377px;
//             top: 147px;
//             width: 0;
//             height: 0;


//             img {
//                 width: 100%;
//                 height: 100%;
//                 background-position: center;
//             }
//         }
//     }
// }

// .galery-wrap {
//     width: 100%;
//     display: flex;
//     flex-direction: row;
//     align-items: center;
// }

// .gallery {
//     width: 100%;


//     .gallery {
//         align-items: center;
//         display: flex;
//         height: 500px;
//         margin: 0 auto;
//         max-width: 1200px;
//         position: relative;
//         overflow: hidden;


//         .gallery-item {
//             width: 270px;
//             height: 356px;
//             opacity: 0;
//             z-index: 0;
//             position: absolute;
//             transition: all .3s ease-in-out;
//             -webkit-transition: all .3s ease-in-out;
//             -moz-transition: all .3s ease-in-out;
//             -ms-transition: all .3s ease-in-out;
//             -o-transition: all .3s ease-in-out;
//         }

//         .gallery-item-1 {
//             left: 15%;
//             opacity: .4;
//             transform: translateX(-50%);
//             -webkit-transform: translateX(-50%);
//             -moz-transform: translateX(-50%);
//             -ms-transform: translateX(-50%);
//             -o-transform: translateX(-50%);
//         }

//         .gallery-item-2 {
//             height: 250px;
//             opacity: .8;
//             width: 230px;
//             z-index: 1;
//         }

//         .gallery-item-2 {
//             left: 30%;
//             transform: translateX(-50%);
//             -webkit-transform: translateX(-50%);
//             -moz-transform: translateX(-50%);
//             -ms-transform: translateX(-50%);
//             -o-transform: translateX(-50%);
//         }

//         .gallery-item-3 {
//             opacity: 1;
//             left: 50%;
//             z-index: 9;
//             transform: translateX(-50%);
//             -webkit-transform: translateX(-50%);
//             -moz-transform: translateX(-50%);
//             -ms-transform: translateX(-50%);
//             -o-transform: translateX(-50%);
//         }

//         .gallery-item-4 {
//             left: -50%;
//             transform: translateX(-50%);
//             -webkit-transform: translateX(-50%);
//             -moz-transform: translateX(-50%);
//             -ms-transform: translateX(-50%);
//             -o-transform: translateX(-50%);
//         }

//         .gallery-item-5 {
//             left: 68%;
//             width: 246px;
//             height: 324px;
//             opacity: 1;
//             z-index: 1;
//             transform: translateX(-50%);
//             -webkit-transform: translateX(-50%);
//             -moz-transform: translateX(-50%);
//             -ms-transform: translateX(-50%);
//             -o-transform: translateX(-50%);
//         }

//         .gallery-item-6 {
//             left: 83%;
//             opacity: 1;
//             width: 226px;
//             height: 297px;
//             transform: translateX(-50%);
//             -webkit-transform: translateX(-50%);
//             -moz-transform: translateX(-50%);
//             -ms-transform: translateX(-50%);
//             -o-transform: translateX(-50%);
//         }

//         .gallery-item-7 {
//             left: 102%;
//             width: 209px;
//             height: 274px;
//             opacity: .8;
//             transform: translateX(-50%);
//             -webkit-transform: translateX(-50%);
//             -moz-transform: translateX(-50%);
//             -ms-transform: translateX(-50%);
//             -o-transform: translateX(-50%);
//         }

//     }
// }