// $myFont-1: "Roboto", sans-serif;
// $myFont-2: "Montserrat", sans-serif;
// $colorTextLight: #FFF;
// $colorTextDark: #34383D;
// $colorLinc-1: #CDA861;
// $myFontSize: 18px;
// $myWidth: 680px;

body {
    font-family: "Roboto", sans-serif;
    color: $colorTextDark;
    font-style: normal;
    font-weight: 400;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

header {
    position: absolute;
    inset: 0;
    width: 100%;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    padding: 44px 241px 0 184px;
    border: 1px solid;

    li:first-child {
        color: #D7FFC2;
        font-family: "Roboto", sans-serif;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 1.2px;
        text-transform: uppercase;
    }

    li:nth-child(2) {
        color: #fff;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: 1.6px;
        text-transform: uppercase;
    }
}

.banner__bg {

    .banner__title {
        padding-left: 331px;

        h1 {
            padding-top: 340px;
            margin: 0;
            font-weight: 400;
            font-size: 80px;
            font-style: normal;
            line-height: 88px;
            color: #FFFEF0;
        }

        h2 {
            color: #FFAC7F;
            font-weight: 400;
            font-size: 80px;
            line-height: 88px;
            margin-bottom: 24px;
        }

        p,
        span {
            color: #FFFEF0;
            font-size: 32px;
            font-weight: 400;
            line-height: 48px
        }

        span {
            display: block;
            margin-bottom: 24px;
        }

        .button-link {
            display: inline-block;
            position: relative;
            color: #004449;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 1.6px;
            text-transform: uppercase;
            padding: 16px 66px 16px 34px;
            margin-bottom: 400px;
            border-radius: 50px;
            background: #0BFF80;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            -ms-border-radius: 50px;
            -o-border-radius: 50px;

            svg {
                position: absolute;
                top: calc(50% - 12px);
                left: 270px;
            }
        }
    }
}

.banner__brands {
    text-align: center;

    h3 {
        color: #FFFEF0;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 1.8px;
        text-transform: uppercase;
        margin-bottom: 48px;
    }

    .banner__block-img {
        max-width: 1124px;
        width: 100%;
        margin: 0 auto;
        padding: 0 10px;
        display: flex;
        justify-content: space-between;
        padding-bottom: 150px;
    }
}




.info__card {
    text-align: center;
    display: flex;
    background-color: #FFAC7F;

    h4 {
        color: #004449;

        text-align: center;
        font-family: Roboto;
        font-size: 44px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
    }
}